html,body {
	background: url(../static/bg2.jpeg);
	background-size: 100% 100%;
}
.topBtn{
    border-radius: 40px;
    color: white;
    background-color: grey;
    border: 1px solid #e6e6e6;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 6px 10px;
    border-radius: 2px;
    background-clip: padding-box;
    margin-left: 11px;
    margin-top: 10px;
}

.commentBox{
  width: 90%;
  align:center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
	font-family: 'Gill Sans', sans-serif;

}
.round_icon{
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box{
    width:98%;
    background-color:rgba(255, 255, 255, 0.4);
    align: center;
    margin-left: auto;
    margin-right: auto;
}

.content{
  background-color:rgba(0,0,0,0.2);

}
.spread{
    display: none;
}

.btn2{
  float:right;
  margin-top: 15px;
  margin-right:10px;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 8px;
  background-color: grey;
  color:white;
}

#spacer{
  height:70px;
  background-color:rgba(255, 255, 255, 1);
}
#icon{
  position: absolute;
  left:38%;
  top:25%;
}

#mainbody{
  position: relative;
  right: 2%;
  top: 2%;
  width: 66%;
  height: 700px;
  border-style:;
  border-width: 2px;
  float:right;
  overflow:auto;
}

#left{
  position: relative;
  top: 2%;
  width: 28%;
  height: 600px;
  left: 2%;
  float:left;
}

#leftup{
  height:200px;
  background-color:rgba(99, 99, 99, 0.9);
}

#leftbottom{
  height:400px;
  background-color:rgba(255, 255, 255, 1);
  overflow:auto;
}

#commentdate{
  width: 15%;
  font-size: 10px;
  text-align:center;
  color: grey;
  height: 15px;
}

#commentname{
  width: 25%;
  text-align:center;
  font-weight:bold;
  height: 15px;
}

#clear{
  clear:both;
}

#userName{
   text-align:center;
   padding: 1.8em 1em;
   color: hsl(140, 13%, 90%);
   text-shadow: 0 1px 1px hsla(0,0%,100%,.8);
   font-size:24px;
}

#follower{
  position:relative;
  left:5px;
  bottom:-40px;
}

#editor{
  position:relative;
  margin-top: 20px;

}
#title{
  width: 40%;
  height: 30px;
  font-size:24px;
}

#addcomment{
  float:left;
  margin-left:5%;
  z-index: 10;
}

#anonymous{
  float:left;
  text-align:right;
  margin-left: 150px;
}

#commentInputBox{
  width:90%;
  margin-left: 5%;
  height:200px;
  user-select: text;
  enable = true;
  display: none;
}
