<html>

<head>
  <meta http-equiv="expires" content="0">
  <link href="/static/main.css" rel="stylesheet" type="text/css" />
  <script src="/static/jquery-3.3.1.min.js"></script>
  <script src="/static/wangEditor.min.js"></script>
</head>
<body>
  <div id='wrapper'>
    <div id='mainbody'>
      <div>
        <input type='button' value='Save' class='topBtn' onclick='javascript:save()'>
        <input type='button' value='My Blog' class='btn2' onclick='javascript:myBlog(this)'>
      </div>
      <br/>
      <input type='text' id='title' placeholder="Title" value = "{{title|safe}}"></inpurt> <p sytle='float:right'>Lost Modified: {{date|safe}}</p>

      <div id="editor">
        <p>New Post</p>
      </div>


    </div>
    <div id='left'>
      <div id='leftup'>
        <p id='userName'>{{name|safe}}</p><br/>
        <p id='follower'>Follower: {{followNum|safe}}</p>
      </div>
      <div id='icon'>
        <img src="/static/icon.jpeg" class="round_icon"  alt="">
      </div>
      <div id='spacer'> </div>
      <div id='leftbottom'>

                {% for comment in comments %}
                <table class='commentBox'>
                  <tr>
                    <td id='commentname'>{{comment[2]}}</td>
                    <td rowspan="3">{{comment[1]}}</td>
                  </tr>
                  <tr>
                    <td id='commentdate'>{{comment[0]}}</td>
                  </tr>
                  <tr>
                    <td> </td>
                  </tr>
                </table>

                {% endfor %}


      </div>
    </div>

  </div>
</body>

<script>
  var E = window.wangEditor;
  var editor = new E('#editor');
  editor.customConfig.uploadImgShowBase64 = true;
  editor.create();
  editor.txt.html("{{content|safe}}");
    var save = function() {
    let user_id = parseInt(window.location.pathname.match(/\d+/g)[0])
    let post_id = parseInt(window.location.pathname.match(/\d+/g)[1])
    let content = editor.txt.html();
    let title = document.getElementById('title').value;
    let data = JSON.stringify({
      post_id: post_id,
      userid: user_id,
      content: content,
      brief: title
    });
    $.post('/save', data, function(data) {
      if (data == 1) {
        alert('Post Saved!')
      }
    })
  }
  var myBlog = function(){
    window.location = 'http://'+window.location.host+'/myblog';
  }
</script>

</html>
