<html>

<head>
  <meta http-equiv="expires" content="0">
  <link href="/static/main.css" rel="stylesheet" type="text/css" />
  <script src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
  <p style="color:white; position:absolute; top:-10px;left:37px;">Hi, {{user.name}}</p>
  {% if logoutButton %}
  <input style='color:white;background-color: grey;position:absolute; left:130px;z-index:20;' type='button' value='logout' onclick="javascript:logout()">
  {% endif %}
  <div id='wrapper'>
    <div id='mainbody'>
      <div>
        <input type='button' class='topBtn' value='{{followCheck|safe}}' id='follow'> </input>
        <input type='button' class='topBtn' value='Explore' onclick='javascript:explore()'> </input>
        <input type='button' value='My Blog' class='btn2' onclick='javascript:myBlog(this)'>
        <input type='button' value='New Post' class='btn2' onclick='javascript:newpost(this)' id='newpost'>
      </div>
      {% for post in posts %}
      <div class='box' id="{{post[0]|safe}}">
          <input type='button' class="btn2" position='right' value='Expand' onclick='javascript:expandFunction(this)'>
          <input type='button' class="btn2" position='right' value='Like' onclick='javascript:likePost(this)'>
          <input type='button' class="btn2" position='right' value='Edit' onclick='javascript:editPost(this)'>
          <div class="content">
              <p style="position:relative; left:20px; font-size: 25px; font-family: 'Gill Sans', sans-serif; color:rgb(77, 59, 0)">{{post[3]}}</p>
              <p style="position:relative; left:20px; font-family: 'Gill Sans', sans-serif; color: rgb(102, 78, 0)">Last Modified: {{post[1]|safe}}</p>
              <div class="spread">
                  {{post[4]|safe}}
              </div>
          </div>
        <div id='clear'></div>
      </div>
      <br/><br/>
      {% endfor %}
    </div>
    <div id='left'>
      <div id='leftup'>
        <p id='userName'>{{name|safe}}</p><br/>
        <p id='follower'>Follower: {{followNum|safe}}</p>
      </div>
      <div id='icon'>
        <!-- <img src="/static/icon.jpeg" class="round_icon"  alt=""> -->
        <img src="{{ user.avatar(128)}}" class="round_icon"  alt="">
      </div>
      <div id='spacer'></div>

      <div id='leftbottom'>
        <table class='commentBox'>
          <input type='button' id= 'addcomment' value = 'Add comment' onclick='javascript:addComment()'>
          <input type="checkbox" id="anonymous" value="Anonymous">Anonymous</input>
          <textarea id=commentInputBox></textarea>


        {% for comment in comments %}
        <table class='commentBox'>
          <tr>
            <td id='commentname'>{{comment[2]}}</td>
            <td rowspan="3">{{comment[1]}}</td>
          </tr>
          <tr>
            <td id='commentdate'>{{comment[0]}}</td>
          </tr>
          <tr>
            <td> </td>
          </tr>
        </table>

        {% endfor %}
      </div>
    </div>

  </div>
</body>

<script>
  var expandFunction = function(e) {
    let button = e;
    console.log(button)
    button.value = button.value == 'Collapse' ? 'Expand' : 'Collapse'
    let box = button.parentElement;
    let spread = box.getElementsByTagName('div')[1];
    let content = box.getElementsByTagName('div')[0];
    $(spread).slideToggle();
    box.height = content.height;
  };
  var editPost = function(e) {
    let button = e;
    let box = button.parentElement;
    let post_id = box.id;
    let user_id = parseInt(window.location.pathname.match(/\d+/g)[0]);
    let data = JSON.stringify({
      post_id: post_id,
      user_id: user_id
    });
    $.post('/editPost',data,function(res){
      if (res=='110')
      {alert("You can not edit this post");}
      else {
        window.location = 'http://' + window.location.host + res;
      }
    });
  };

  $('#follow').click(function() {
    data = {
      'url': window.location.pathname,
      'update': this.value == 'unFollow'
    };
    $.post('/follow', JSON.stringify(data), function(redirection) {
      if (redirection != '110'){
        window.location = redirection;
      } else{
        alert('You can only follow someone after login.');
      }
    })
  });

  $('#newpost').click(function(e) {
    data = {
      'url': window.location.pathname
    }
    $.post('/newpost', JSON.stringify(data), function(redirection) {
      window.location = 'http://' + window.location.host + '/' + redirection;
    })
  });
  var myBlog = function() {
    window.location = 'http://' + window.location.host + '/myblog';
  }
  var editComment = false;
  var addComment = function(){
    let inputBox = document.getElementById('commentInputBox');
    if(editComment){
      let annonCheck = document.getElementById('anonymous').checked?1:0;
      let user_id = parseInt(window.location.pathname.match(/\d+/g)[0]);
      let data = JSON.stringify({
          'user_id': user_id,
          'comment': inputBox.value,
          'annon': annonCheck
        });
        $.post('/comment',data,function(res){
            window.location = res;
        })

    }else{
      inputBox.style.display = 'inline';
      inputBox.enable = true;
      let button = document.getElementById('addcomment');
      button.value = 'send comment'
      editComment = true;}
  }
  let logout = function(){
    $.post('/logout',1,function(res){window.location = res;});
  }
  var explore = function(){
    window.location = '/explore'
  }
</script>


</html>
